 *{
     font-family: 'Times New Roman', Times, serif;
     margin: 0px;
     padding: 0px;
 }

 ::selection {
     color: #ddd;
     background-color: black;
 }

 /**SCROLL*/
 .scroll {
     position: fixed;
     left: 0px;
     top: 0px;
     width: 0px;
     height: 0px;
     background: #13a53fc0;
     padding: 5px;
     border-radius: 8px;
 }

/**SECTON CARRERAS*/
h1{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
.badges {
    background-color: darkgreen;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

label[for="user-select"]{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

/* Estilos para el elemento select */
select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: auto;
    border-radius: 10px;
}

/* Estilos para las opciones del elemento select */
select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

/* Estilos para el contenedor del dropdown */
.select-dropdown {
    position: relative;
}

/* Estilos para la flecha del dropdown */
.select-dropdown:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    z-index: -1;
}

/* Estilos para el foco del dropdown */
select:focus {
    outline: none;
    border-color: #555;
}

/* Estilos para las opciones seleccionadas del dropdown */
select option:checked {
    background-color: #555;
    color: #fff;
}
select, option{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 60px;
}

.SS h2{
    margin-top: -20px;
    margin-bottom: 20px;
}
.SS h3, .SS h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.SS ul, p{
    margin-bottom: 20px;
}
#IM{
    margin-bottom: -1px;
}
.SS li{
    list-style: none !important;
} 