 *{
     font-family: 'Times New Roman', Times, serif;
     margin: 0px;
     padding: 0px;
 }

 ::selection {
     color: #ddd;
     background-color: black;
 }

 /* *Establecer el tamaño y posicionamiento de los elementos */
 .container {

     flex-wrap: wrap;
     justify-content: center;
 }

 /* *Establecer un ancho mínimo para los elementos */
 .container {
     min-width: 300px;
 }

 .item {
     flex-basis: calc(33.33% - 20px);
     margin: 10px;
 }

 /**SCROLL*/
 .scroll {
     position: fixed;
     left: 0px;
     top: 0px;
     width: 0px;
     height: 0px;
     background: #13a53fc0;
     padding: 5px;
     border-radius: 8px;
 }

 /**NAV*/
 .logo {
     font-family: 'Times New Roman', Times, serif;
     color: #ddd;
     font-size: 16px;
     font-weight: bold;
 }

 nav ul {
     background-color: #026402;
     overflow: hidden;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px;
     list-style: none;
 }

 nav a {
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 15px;
     font-weight: bold;
 }

 nav ul:hover a {
     border-radius: 5px;
     color: #fff5f5;
 }

 nav a:hover {
     color: black;
     border-radius: 5px;
 }

 nav ul:hover a:hover {
     box-shadow: 0 2px 0 0 currentcolor;
     color: #04f017;
 }

 nav img {
     width: 120px;
     margin: 25px;
 }
/**SECTON CARRERAS*/
h1{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.badge {
    background-color: darkgreen;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

label[for="user-select"]{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
/* Estilos para el elemento select */
select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: auto;
    border-radius: 10px;
}

/* Estilos para las opciones del elemento select */
select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

/* Estilos para el contenedor del dropdown */
.select-dropdown {
    position: relative;
}

/* Estilos para la flecha del dropdown */
.select-dropdown:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    z-index: -1;
}

/* Estilos para el foco del dropdown */
select:focus {
    outline: none;
    border-color: #555;
}

/* Estilos para las opciones seleccionadas del dropdown */
select option:checked {
    background-color: #555;
    color: #fff;
}
select, option{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 60px;
}
footer {
    padding: 20px;
    text-align: center;
    background: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SS h2{
    margin-top: -20px;
    margin-bottom: 20px;
}
.SS h3, .SS h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.SS ul, p{
    margin-bottom: 20px;
}
#IM{
    margin-bottom: -1px;
}

/**Adaptaciones a dispositivos*/


@media(max-width:1171px) and (min-width:768px) {
    .logo {
        display: none;
    }
}
@media screen and (max-width: 863px) {
    .container {
        flex-basis: 50%;
    }

    nav img {
        display: block;
        margin: auto;
    }

    .logo {
        text-align: center;
        margin: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        padding: 5px;
    }

    nav a {
        padding: 10px;
        font-size: 18px;
    }

    nav ul li {
        padding: 14px 16px;
    }

}

@media screen and (max-width: 480px) {
    .container {
        flex-basis: 100%;
    }
}
/** JS footer fixed por defecto activado, y js desplegable = footer no fixed*/