.contenedor-aside{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
aside{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
}

#izq{
	box-shadow: 10px 10px 5px #356336;
	width: 33%;
	padding: 20px;
	border-radius: 5px;
}

#der{
	box-shadow: 10px 10px 10px  #356336;
	width: 33%;
	text-align: center;
	border-radius: 5px;
	padding: 25px;
}
#der h3{
	margin-top: 10px;
}
#logosR{
	width: 40px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
	margin-top: -5px;
}
#derr{
	padding: 20px;
    padding-top: 10px;
    padding-bottom: 12px;
	width: 50%;
	box-shadow: 10px 10px 10px #356336;
	text-align: center;
}
#derr h1, h3{
	margin-bottom: 10px;
}
#izqq{
	width: 49%;
	box-shadow: 10px 10px 10px #356336;
	margin-bottom: 10px;
}
#izqq h1,h3 {
	margin-bottom: 15px;
}

.logosR, .logosT{
	width: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
	margin-top: -5px;
}
section{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap
}
section h1, section h2{
	text-align: center;
}
.linkss{
	color: rgb(87, 170, 87);
	text-decoration: none;
}
.linkss:hover{
	color: rgb(111, 221, 101);
}

/**APARTADO DE DROGAS-VAPE*/
video{
	margin: auto;
	display: flex;
	align-content: center;
	justify-content: center;
}
.informacion1 {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	padding: 20px;
	width: 80%;
	margin: auto;
}

.infotext {
	width: 60%;
	text-align: center;
	margin-left: 25px;
}

#contenedor-img {
	margin-right: 20px;
}
#vape1{
	width: 84%;
}

.informacion2 {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	padding: 20px;
	width: 80%;
	margin: auto;
	flex-direction: row-reverse;
}

.infrotextt {
	text-align: center;
	width: 80%;
}
#vape2 {
	width: 82%;
}

.contenidos{
	text-align: center;
	color: white;
	background-color: rgb(70, 70, 70);
	width: 50%;
	border-radius: 10px;
	margin: auto;
	padding: 30px;
}

@media (max-width:1408px){
	.contenedor-aside{
		flex-direction: column;
	}
	.carrusel{
		margin-top: 15px;
		margin-bottom: 30px
	}
	#izq, #der, #izqq, #derr{
		width: 80%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#der{
		margin-top: 50px;
	}
	#vape1, #vape2{
		display: none;
	}
	video{
		width: 370px;
		height: auto;
	}
}